<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: Arial, sans-serif; min-height: 400px;">
    <p>Olá, <strong>{User}</strong>.</p>
    
    <p>Recebemos uma solicitação para redefinir sua senha. Para cadastrar uma nova senha, clique no link abaixo:</p>
    
    <a href="{Link}" target="_blank">Redefinir Senha</a>
    
    <p>Caso você não tenha solicitado a redefinição de senha, por favor, ignore este email.</p>
    
    <div>
        <span style="display: block; margin-bottom: 6px;">Atenciosamente,</span>
        <span>Sample Security Provider.</span>
    </div>
</body>
</html>