<div style="font-family:Arial,sans-serif;">
    <table
        style="background-color:#ffffff;padding-top:20px;color:#434245;width:100%;border:0;text-align:center;border-collapse:collapse">
        <tbody>
            <tr>
                <td style="vertical-align:top;padding:0">
                    <div>
                        <table
                            style="border:0;border-collapse:collapse;margin:0 auto;background:white;border-radius:8px;margin-bottom:16px">
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="max-width:600px;margin:0 auto;text-align:center;">
                                            <h1 style="font-size:30px;padding-right:30px;padding-left:30px">Redefinição de senha</h1>
                                            <p style="font-size:14px;padding-right:30px;padding-left:30px">Olá, <strong>{User}!</strong></p>
                                            <p style="font-size:14px;padding-right:30px;padding-left:30px">
                                                Recebemos uma solicitação para redefinir sua senha. Para cadastrar uma nova senha, clique no link abaixo:
                                            </p>
                                            <div style="padding-right:30px;padding-left:30px;margin-top:20px;margin-bottom:20px">
                                                <table style="width:100%">
                                                    <tbody>
                                                        <tr style="width:100%">
                                                            <td style="width:100%;text-align:center;">
                                                                <span style="display:inline-block;border-radius:3px;">
                                                                    <a href="{Link}" style="min-width:196px;border-top:12px solid;border-bottom:12px solid;border-right:24px solid;border-left:24px solid;border-color:#0b5b6e;border-radius:3px;background-color:#0b5b6e;color:#ffffff;font-size:14px;line-height:16px;word-break:break-word;display:inline-block;text-align:center;font-weight:900;text-decoration:none!important;cursor:pointer;" target="_blank">Redefinir senha</a>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>;
                                            <p style="font-size:14px;padding-right:30px;padding-left:30px;margin-top:20px;margin-bottom:20px;">Este link expira em 24 horas</p>
                                            <p style="font-size:14px;padding-right:30px;padding-left:30px;margin-top:20px;margin-bottom:20px;">Caso não consiga acessar, copie e cole o endereço a seguir no seu navegador e prossiga com a definição de senha:</p>
                                            <p style="font-size:14px;padding-right:30px;padding-left:30px;margin-top:20px;margin-bottom:20px;"><a href="{FullLink}" target="_blank">{FullLink}</a></p>
                                            <p style="font-size:14px;padding-right:30px;padding-left:30px;margin-top:20px;margin-bottom:20px;">Caso você não tenha solicitado a redefinição de senha, por favor, ignore este email.</p>                                            
                                            <p style="font-size:14px;padding-right:30px;padding-left:30px;margin-top:20px;margin-bottom:20px;">Atenciosamente, Sample Security Provider.</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>