<h2 style="color: var(--p-gray-600)">Listagem de Usuários</h2>

<p-toolbar styleClass="mb-4">
    <ng-template #start>
        <p-iconfield iconPosition="left" class="ml-auto">
            <p-inputicon>
                <i class="fa-solid fa-magnifying-glass"></i>
            </p-inputicon>
            <input
                pInputText type="text"
                placeholder="Pesquisar"
                [ngModel]="query"
                (ngModelChange)="onQueryChange($event)"
            />
        </p-iconfield>
    </ng-template>
    <ng-template #end>
        <p-button label="Incluir" icon="fa-solid fa-plus" />
    </ng-template>
</p-toolbar>

<div style="width: 100%; height: calc(100% - 178px)">
    <p-table
        dataKey="id"
        [columns]="columns"
        [value]="users$ | async"
        [loading]="loading$ | async"
        [showLoader]="false"
        [rowHover]="true"
        [paginator]="true"
        [first]="skip"
        [rows]="limit"
        [rowsPerPageOptions]="[10, 20, 30]"
        [totalRecords]="totalRecords$ | async"
        [showCurrentPageReport]="true"
        [currentPageReportTemplate]="'Exibindo {first} a {last} de {totalRecords} registros'"
        [scrollable]="true"
        [scrollHeight]="'flex'"
        [lazy]="true"
        (onLazyLoad)="onLazyLoad($event)"
    >
        <ng-template #header let-columns>
            <tr>
                @for (column of columns; track $index) {
                    @if (column.isSortable) {
                        <th [pSortableColumn]="column.name">{{ column.displayName }} <p-sortIcon [field]="column.name" /></th>
                    }
                    @else {
                        <th [style.width]="column.width ">{{ column.displayName }}</th>
                    }
                }
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td>{{ item.displayName }}</td>
                <td>{{ item.username }}</td>
                <td>{{ item.email }}</td>
                <td>
                    <i
                        class="fa-solid"
                        [class.fa-square-check]="item.active"
                        [class.fa-square-xmark]="!item.active"
                        style="font-size: 22px;"
                        [style.color]="item.active ? 'var(--p-green-500)' : 'var(--p-red-500)'"></i>
                </td>
                <td>
                    <div class="flex flex-row gap-3">
                        <p-button
                            icon="fa-solid fa-pen"
                            size="small"
                            severity="info"
                            [raised]="true"
                            [text]="true"
                            [rounded]="true"
                            pTooltip="Editar"
                            tooltipPosition="bottom"
                            (onClick)="onEdit(item.id)"
                        />
                        <p-button
                            icon="fa-solid fa-trash"
                            size="small"
                            severity="danger"
                            [raised]="true"
                            [text]="true"
                            [rounded]="true"
                            pTooltip="Excluir"
                            tooltipPosition="bottom"
                            (onClick)="onDelete(item)"
                        />
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="5">Nenhum usuário encontrado.</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody let-columns>
            <tr style="height: 30px;">
                @for (column of columns; track $index) {
                    <th class="px-1 py-1"><p-skeleton height="30px"/></th>
                }
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmdialog [draggable]="false"/>